---
import { Image } from "astro:assets";

interface Props {
  dataAttributes: any;
  width: number;
  alt?: string;
  resolution?: 1.3 | 1.5 | 2;
}

const { dataAttributes, width, alt, resolution = 1.3 } = Astro.props;

const height = (width / dataAttributes.width) * dataAttributes.height;

const retinaWidth = width * resolution;

const wrapperStyle = {
  width: width + "px",
  height: height + "px",
};
---

<div>
  <Image
    src={`https://res.cloudinary.com/dwrv366lk/image/upload/w_${retinaWidth},f_auto/${dataAttributes.hash}${dataAttributes.ext}`}
    alt={alt || ""}
    width={width}
    height={height}
    class="bg-slate-100"
  />
</div>

<div>
  <Image
    src={`https://res.cloudinary.com/dwrv366lk/image/upload/w_${retinaWidth}/${dataAttributes.hash}${dataAttributes.ext}`}
    alt={alt || ""}
    width={width}
    height={height}
    class="bg-slate-100"
  />
</div>
